@model MejjHonda.Models.MEJJ_FacturaDeta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MEJJ_FacturaDeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PorcentajeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PorcentajeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Impuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Impuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEJJ_Articulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEJJ_Articulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEJJ_FacturaEnca.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEJJ_FacturaEnca.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFacturaD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
