@model MejjHonda.Models.MEJJ_Empleado
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <img class="col-lg-6 d-none d-lg-block" src="~/Content/Img/HondaIcon.jpg" />
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                                        <p class="mb-4">Simplemente ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña!</p>
                                    </div>
                                    <div class="text-success">@ViewBag.Message</div>
                                    <form class="user">
                                        <div class="form-group">
                                            @Html.TextBox("email", "", new { @class = "form-control form-control-user" })
                                        </div>
                                        <input type="submit" value="Restablecer la contraseña" class="btn btn-primary btn-user btn-block" />
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a href=" @Url.Action("Index", "Login")">Volver al Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    }


</div>
<span class="d-none" id="message">@TempData["message"]</span>
<span class="d-none" id="type">@TempData["type"]</span>
@section Scripts{
    <script>
        $(document).ready(function () {
            var message = $('#message').text()
            var type = $('#type').text()
            if (message) {
                switch (type) {
                    case 'error':
                        toastr.error(message);
                        break;
                    case 'success':
                        toastr.success(message);
                        break;
                }
            }
        })
    </script>
}
