
@model MejjHonda.Models.MEJJ_Empleado
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <img class="col-lg-6 d-none d-lg-block" src="~/Content/Img/HondaIcon.jpg" />
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Inicio de sesión</h1>
                                </div>
                                @using (Html.BeginForm("Authorize", "Login", FormMethod.Post, new { @class = "user" }))
                                {
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Email" }, id = "exampleInputEmail" })
                                        <span>@Html.ValidationMessageFor(model => model.Mail)</span>
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Contraseña" }, id = "exampleInputPassword" })
                                        <span>@Html.ValidationMessageFor(model => model.Contraseña)</span>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login" />
                                }
                                <hr>
                                <div class="text-center">
                                    <a href=" @Url.Action("ForgotPassword", "Login")">¿Olvidó su contraseña?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<span class="d-none" id="message">@TempData["message"]</span>
<span class="d-none" id="type">@TempData["type"]</span>
@section Scripts{
    <script>
        $(document).ready(function () {
            var message = $('#message').text()
            var type = $('#type').text()
            if (message) {
                switch (type) {
                    case 'error':
                        toastr.error(message);
                        break;
                    case 'success':
                        toastr.success(message);
                        break;
                }
            }
        })
    </script>
}
