@model MejjHonda.Models.MEJJ_FacturaEnca

@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String styleColumn = "padding:0px;float:left";
}

<h2>Generar Factura</h2>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Cliente</label>
        <div class="col-md-10">
            @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control", @id = "idCliente" })
            @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
           <label class = "control-label col-md-2">Fecha</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <label class="control-label col-md-2">Observación</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", @id = "observacion" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        <!-- Detalles Factura -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="TableArticulos">
                <thead>
                    <tr>
                        <th>
                            <div class="example-box-wrapper" style="width:50%">
                                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#articulosModal">
                                    Artículo
                                </a>
                            </div>
                        </th>
                        <th style="width:8%">Id</th>
                        <th style="width:25%">Precio</th>
                        <th style="width:5%">Cantidad</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" id="NameArticulo" disabled>
                        </td>
                        <td>
                            <input class="form-control" type="text" id="IdArticulo" disabled>
                        </td>
                        <td>
                            <input class="form-control" type="text" id="PriceArticulo" disabled>
                        </td>
                        <td>
                            <input class="form-control" type="text" id="CantidadArticulo" onkeypress="return ValidaNumericos(event, this)" maxlength="3">
                        </td>
                        <td>
                            <div class="example-box-wrapper" style="height:30px">
                                <a class="btn btn-outline-success" title="Agregar artículo" onclick="ValidaLinea()">
                                    <i class="fas fa-fw fa-plus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    @*------------------------- CON JQUERY-----------------------------*@
                </tfoot>
            </table>
        </div>

        <table class="table table-striped table-bordered bootstrap-datatable datatable" id="totales">
            <thead>
                <tr>
                    <th colspan="3" class="right text-right">Subtotal:&nbsp;</th>
                    <th id="subTotal" style="width:200px"></th>
                </tr>
                <tr>
                    <th colspan="3" class="right text-right">IVA:&nbsp;</th>
                    <th id="impuesto" style="width:200px"></th>
                </tr>
                <tr>
                    <th colspan="3" class="right text-right">Total:&nbsp;</th>
                    <th id="total" style="width:200px"></th>
                </tr>


            </thead>
        </table>
        <!-- End Detalles Factura -->
        <!-- Modal artículos -->
        <div class="modal fade" id="articulosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Artículos</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="col-sm-12">

                            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                                <thead>
                                    <tr>
                                        <th>Descripci&oacute;n</th>
                                        <th>Precio</th>
                                        <th style="width:30px"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.Articulos)
                                    {
                                        <tr>
                                            <td>@item.Descripcion</td>
                                            <td>@item.Precio</td>
                                            <td>
                                                <a class="btn btn-outline-info" onclick='SeleccionaArticulo("@(item.IdArticulo)" , "@(item.Descripcion)", "@(item.Precio)");'>
                                                    <i class="fas fa-fw fa-check"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal artículos -->
    </div>
    <div class="row" >
        <div class="col-sm-6 offset-9">
            <div class="form-group">
                <div class="col-md-2 col-md-offset-5" style=@styleColumn>
                    @Html.ActionLink(" ", "Index", null, new { @class = "fa-pull-right btn btn-info far fa-arrow-alt-circle-left", @style = "margin-right:10px", title = "Atrás" })
                </div>
                <div class="col-md-2 col-md-offset-7" style=@styleColumn>
                    <button class="btn btn-success" title="Guardar" onclick="Registrar()">Registrar</button>
                </div>
            </div>
        </div>
    </div>

</div>
<span class="d-none" id="message">@TempData["message"]</span>
<span class="d-none" id="type">@TempData["type"]</span>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section messages{
    <script>
        $(document).ready(function () {
            var message = $('#message').text()
            var type = $('#type').text()
            if (message) {
                switch (type) {
                    case 'error':
                        toastr.error(message);
                        break;
                    case 'success':
                        toastr.success(message);
                        break;
                }
            }
        })
    </script>
}

<script src="~/Scripts/Views/Factura.js"></script>
