@model IEnumerable<MejjHonda.Models.MEJJ_FacturaEnca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ventas Generadas</h2>

<div class="row">
    <div class="col-sm-2 offset-10">
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary", title = "Nueva factura" })
    </div>

</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
        Opciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Convert.ToDateTime(item.Fecha).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>

        <td>
            @Html.ActionLink(" ", "Details", new { id = item.IdFacturaE }, new { @class = "btn btn-info fas fa-fw fa-eye", title = "Ver", @style= "width:20%" })

        </td>
    </tr>
}

</table>
