@model IEnumerable<MejjHonda.Models.MEJJ_FacturaEnca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Facturar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedioPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCambio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEJJ_Cliente.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEJJ_Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEJJ_Moneda.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedioPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCambio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEJJ_Cliente.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEJJ_Empleado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MEJJ_Moneda.Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFacturaE }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFacturaE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFacturaE })
        </td>
    </tr>
}

</table>
