@model MejjHonda.Models.MEJJ_Empleado
@{
                /**/

                ViewBag.Title = "Details";
                Layout = "~/Views/Shared/_Layout.cshtml";
                String styleColumn = "padding:0px;float:left";
}
<h2>Detalle Colaborador</h2>
<div>
    <hr />
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Nombre)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Cedula)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Mail)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Telefono)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Direccion)</label>
            </div>
        </div>
    </div>
</div>
<div class="form-group col-md-12" style=@styleColumn>
    @Html.ActionLink(" ", "Edit", new { id = Model.IdEmpleado }, new { @class = "fa-pull-right btn btn-info fas fa-edit" })
    @Html.ActionLink(" ", "Index", null, new { @class = "fa-pull-right btn btn-info far fa-arrow-alt-circle-left", @style = "margin-right:10px" })
</div>
@Html.ActionLink(" ", "ExportToExcel", new { id = Model.IdEmpleado }, new { @class = "btn btn-primary fas fa-file-excel" })
@Html.ActionLink(" ", "ExportToPdf", new { id = Model.IdEmpleado }, new { @class = "btn btn-primary fas fa-file-pdf" })
@Html.ActionLink(" ", "ExportToWord", new { id = Model.IdEmpleado }, new { @class = "btn btn-primary fas fa-file-word" })