@model IEnumerable<MejjHonda.Models.MEJJ_Empleado>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Colaboradores</h2>
<div class="col-md-12" style="padding:0px">
    @using (Html.BeginForm())
    {
        <div class="col-md-5 input-group fa-pull-left">
            <input type="text"
                   name="busqueda"
                   placeholder="Buscar por..."
                   class="form-control navbar-search bg-light border-0"
                   style="color:#858796;border-width:thin" />
            <button class="btn btn-primary" type="submit" title="Buscar">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    }
    <div class="fa-pull-right col-md-2 form-group">
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary", title = "Nuevo Colaborador" })
    </div>
</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            Opciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IdEmpleado }, new { @class = "btn btn-success fas fa-edit", title = "Editar", @style = "width:28%" })
            @Html.ActionLink(" ", "Delete", new { id = item.IdEmpleado }, new { @class = "btn btn-danger fas fa-trash-alt", title = "Eliminar", @style = "width:28%" })
            @Html.ActionLink(" ", "Details", new { id = item.IdEmpleado }, new { @class = "btn btn-info fas fa-fw fa-eye", title = "Ver", @style = "width:28%" })
        </td>
    </tr>
    }

</table>
<span class="d-none" id="message">@TempData["message"]</span>
<span class="d-none" id="type">@TempData["type"]</span>
<hr />
<h5>Descargar como</h5>
<div class="row">
    @Html.ActionLink(" ", "ExportToExcel", null, new { @class = "", @style = "background:url('../Content/Img/excel.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar excel" })
    @Html.ActionLink(" ", "ExportToPdf", null, new { @class = "", @style = "background:url('../Content/Img/pdf.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar PDF" })
    @Html.ActionLink(" ", "ExportToWord", null, new { @class = "", @style = "background:url('../Content/Img/word.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar word" })
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var message = $('#message').text()
            var type = $('#type').text()
            if (message) {
                switch (type) {
                    case 'error':
                        toastr.error(message);
                        break;
                    case 'success':
                        toastr.success(message);
                        break;
                }
            }
        })
    </script>
}
