@model MejjHonda.Models.MEJJ_Articulo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String styleColumn = "padding:0px;float:left";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MEJJ_Articulo</h4>
    <hr />
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Descripcion)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Modelo)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Precio)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Color)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Tamanio, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Tamanio)</label>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
