@model MejjHonda.Models.MEJJ_Articulo
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String styleColumn = "padding:0px;float:left";
}
<h2>Detalle de Artículo</h2>
<div>
    <hr />
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Descripcion)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Modelo)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Precio)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Color)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Tamanio, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Tamanio)</label>
            </div>
        </div>
    </div>
</div>
<div class="form-group col-md-12" style=@styleColumn>
    @Html.ActionLink(" ", "Edit", new { id = Model.IdArticulo }, new { @class = "fa-pull-right btn btn-success fas fa-edit", title = "Editar" })
    @Html.ActionLink(" ", "Index", null, new { @class = "fa-pull-right btn btn-info far fa-arrow-alt-circle-left", @style = "margin-right:10px", title = "Atrás" })
</div>
<h5>Descargar como</h5>
<div class="row">
    @Html.ActionLink(" ", "ExportToExcel", new { id = Model.IdArticulo }, new { @class = "", @style = "background:url('../../Content/Img/excel.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar excel" })
    @Html.ActionLink(" ", "ExportToPdf", new { id = Model.IdArticulo }, new { @class = "", @style = "background:url('../../Content/Img/pdf.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar PDF" })
    @Html.ActionLink(" ", "ExportToWord", new { id = Model.IdArticulo }, new { @class = "", @style = "background:url('../../Content/Img/word.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar word" })
    @Html.ActionLink("Calcular Venta", "Index", "CalculoDeVenta", new { precio = Model.Precio }, new { @class = "btn btn-primary", @style = "margin-left:355px", @title = "Calcular cuotas"})
</div>


