@model IEnumerable<MejjHonda.Models.MEJJ_Articulo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Productos</h2>
<div class="col-md-12" style="padding:0px">
    <div class="col-md-5 input-group fa-pull-left">
        @using (Html.BeginForm())
        {
            <input type="text"
                   name="busqueda"
                   placeholder="Buscar por..."
                   class="navbar-search bg-light border-0"
                   style="color:#858796;border-width:thin" />
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        }
    </div>
    <div class="fa-pull-right col-md-2 form-group">
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary", title = "Nueva factura" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamanio)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanio)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.IdArticulo }, new { @class = "btn btn-success fas fa-edit", title = "Ver", @style = "width:20%" })
                @Html.ActionLink(" ", "Delete", new { id = item.IdArticulo }, new { @class = "btn btn-danger fas fa-trash-alt", title = "Ver", @style = "width:20%" })
                @Html.ActionLink(" ", "Details", new { id = item.IdArticulo }, new { @class = "btn btn-info fas fa-fw fa-eye", title = "Ver", @style = "width:20%" })
            </td>
        </tr>
    }
</table>
<span class="d-none" id="message">@TempData["message"]</span>
<span class="d-none" id="type">@TempData["type"]</span>
<h2>Descargar como</h2>
@Html.ActionLink(" ", "ExportToExcel", null, new { @class = "btn btn-primary fas fa-file-excel" })
@Html.ActionLink(" ", "ExportToPdf", null, new { @class = "btn btn-primary fas fa-file-pdf" })
@Html.ActionLink(" ", "ExportToWord", null, new { @class = "btn btn-primary fas fa-file-word" })
@section Scripts{
    <script>
        $(document).ready(function () {
            var message = $('#message').text()
            var type = $('#type').text()
            if (message) {
                switch (type) {
                    case 'error':
                        toastr.error(message);
                        break;
                    case 'success':
                        toastr.success(message);
                        break;
                }
            }
        })
    </script>
}