@model MejjHonda.Models.MEJJ_Cliente
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String styleColumn = "padding:0px;float:left";
}
<h2>Detalle de Cliente</h2>
<div class="form-horizontal" style="display:flex">
    <hr />
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Cedula)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Telefono)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Direccion)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.DiasCredito, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.DiasCredito)</label>
            </div>
        </div>
    </div>
    <div class="col-md-12" style=@styleColumn>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Nombre)</label>
            </div>
        </div>
        <div class="form-group col-md-6" style=@styleColumn>
            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bold" })
            <div class="col-md-10">
                <label>@Html.DisplayFor(model => model.Mail)</label>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12" style=@styleColumn>
        @Html.ActionLink(" ", "Edit", new { id = Model.IdCliente }, new { @class = "fa-pull-right btn btn-success fas fa-edit", title = "Editar" })
        @Html.ActionLink(" ", "Index", null, new { @class = "fa-pull-right btn btn-info far fa-arrow-alt-circle-left", @style = "margin-right:10px", title = "Atrás" })
    </div>

</div>


<h5>Descargar como</h5>
<div class="row">
    @Html.ActionLink(" ", "ExportToExcel", new { id = Model.IdCliente }, new { @class = "", @style = "background:url('../../Content/Img/excel.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar excel" })
    @Html.ActionLink(" ", "ExportToPdf", new { id = Model.IdCliente }, new { @class = "", @style = "background:url('../../Content/Img/pdf.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar PDF" })
    @Html.ActionLink(" ", "ExportToWord", new { id = Model.IdCliente }, new { @class = "", @style = "background:url('../../Content/Img/word.png') no-repeat center right; display:block; height: 30px; width: 50px", title = "Exportar word" })
</div>